.document3{
    text-align: left;
    width: 40%;
    margin-left: 30%;
    margin-top: 3%;
    font-size: larger;
}
.document4{
    text-align: left;
    margin-top: 3%;
    margin-left:4%;
}

span2{
    font-size: 125%;
}

li{
    text-indent: 0px;
    padding-left: 20px;
}
/* 수정 */
