.document1{
    width: 110%;
    margin-left: 2%;
    margin-top: 1.8%;
    font-size: larger;
    text-align: left;
    white-space: pre-wrap;
}

.document2{
    text-align: left;
    margin-top: 3%;
    margin-left:4%;
    padding-left: 0;
}
.agreetitle{
    font-size: 100%;
}
.showcontent{
    width: 70px;
    font-size:65%;
    margin-bottom: 10%;
    margin-left:-70%;
    overflow: auto;
}

.container1{
    margin-left: -15%;
    text-align: center;
    width:375%;
}

.agree{
    font-size:105%;
}

#div_1{
    text-indent:5px;
}
/* 수정 */
