.document3{
    text-align: left;
    width: 100%;
    margin-left: 2%;
    margin-top: 4%;
    font-size: larger;
}
.document4{
    text-align: left;
    margin-top: 3%;
    margin-left:4%;
}

span2{
    font-size: 125%;
}

.document2{
    padding-left: 0px;
}
/* 수정 */
