.CstInfoAddcss{
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    text-align: left;

}
.CstInfoAddcssh2{
    margin-top: 5%;
    text-align: center;
    margin-left: 40%;

}
.CstInfoAddbutton {
    width: 155%;
}

