.cstinfomain{
    width: 111%;
    font-size: 77%;
    border-collapse: collapse;
    padding-left: inherit;
    margin-left: -10%;    
}
.csinfotitle{
    margin-top: 5%;
    white-space:nowrap;
    margin-left: 62%;
}
.CstInfoAddbutton{
    width: 165%
}