.ResultTable{
    width: 30%;
    margin-left: 27%;
    white-space:nowrap;
    
}

.title1{
    margin-left: 18%;
    white-space: nowrap;
}
.title2{
    margin-left: 15%;
    white-space:nowrap;
    background-color: lightCyan;
    width: 100%;
    
}
