.TotalSection3{
    width: 100%;
    margin-left: 2%;
    margin-top: 5%;
    

}
.judge3H2{
    margin-top: 5%;
    margin-left: 25%;
}
.nextButton{
    margin-right:5%;
    width: 125%;
}
.JudgeStep1agree{
    margin-left: -5%;
    text-align: center;
    width:130%;
}
