.judgedocument{
    margin-top: 2%;
    width: 30%;
    margin-left: 35%;
}
.question{
    margin-left: 26%;
    width: 50%;
    padding: 0px;
    text-align: left;
}
.refresh{
    margin-left: 20%;
}