.preguidemain{
    width:105%;
    margin-top: 3%;
    margin-left: -4%;
}
.PreGuideh4{
    font-size:130%;
    margin-top: 5%;
    white-space:nowrap;
    margin-left: 50%;
}
.PreGuidebutton {
    display: block;
    width: 195%;
}