.ProdGuidetable{
    width: 60%;
    margin-left: 2%;
    margin-top: 2%;
}
.ProdGuideh2{
    margin-top: 5%;
    white-space:nowrap;
    margin-left: 100%;
}
.ProGuidebutton {
    display: block;
    width: 296%
}